.App{
    background-color:gray;
    min-height:auto;
    height:900px;
    
  
}

.todo-app{
    font-family:'antonio', serif;
    text-align: center;
    letter-spacing: 5px;

; }
.por-hacer{
    text-align: center;
    font-family: 'inter',serif;
}
.todo-input{
    text-align: center;
    font-family: 'inter', serif;
}
.complete{
    text-align: center;
    font-family: 'inter', serif;
}